name: Homebrew

on: [push]

jobs:
  audit:
    runs-on: ubuntu-24.04

    env:
      HOMEBREW_DEVELOPER: "1"

    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@cf1daa2e557e8a5196734dec7614d9f724bc9cd0 # master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems --groups=audit,style

      - name: Install brew style dependencies
        run: |
          brew install actionlint shellcheck

      - name: Style
        run: |
          brew style josh/tap

      - name: Audit formulas
        run: |
          brew audit --strict --online --tap josh/tap
