name: Homebrew

on: [push]

jobs:
  audit:
    runs-on: ubuntu-24.04

    env:
      HOMEBREW_DEVELOPER: "1"

    steps:
      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@5d6d1da704bb2434e19e77cd91a876f2b333a06b # master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Install Homebrew Bundler RubyGems
        if: steps.cache.outputs.cache-hit != 'true'
        run: brew install-bundler-gems --groups=audit,style

      - name: Install brew style dependencies
        run: |
          brew install actionlint shellcheck

      - name: Style
        run: |
          brew style josh/tap

      - name: Audit formulas
        run: |
          brew audit --strict --online --tap josh/tap
